{% extends 'base.html.twig' %}

{% block title %}Cavenetwork - Login{% endblock %}

{% block body %}
<div class="container-fluid container-middle">
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-4">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#auth_login_tab">Login</a>
                </li>
                <li>
                    <a href="#auth_register_tab">Register</a>
                </li>
            </ul>
            <div class="tab-panel">
                <div id="auth_login_tab" class="tab-pane active fade in">
                    <h1 class="text-center">Login</h1>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
